.footer-container {
  padding: 3rem 3.5rem;
  background: #0a2533;
}
.footer-box {
  display: flex;
  justify-content: space-between;
}
.footer-head {
  color: #fff !important;
}
.footer-head {
  color: #fff !important;
  font-size: 2.25rem !important;
}
.footer-subhead {
  color: #fff !important;
  font-size: 1rem;
}
.footer-subhead-2 {
  color: #fff !important;
  font-size: 1rem;
  font-weight: 600;
}
.footer-side-1 {
  width: 50%;
  padding: 1rem;
}
.footer-connect {
  height: 2.75rem;
  border: 1px solid white;
  background: #fff;
  border-radius: 1rem;
  padding: 0.25rem;
  display: flex;
  width: 70%;
}
.footer-input {
  height: 2.5rem;
  border: none;
  border-radius: 1rem;
  width: 85%;
  padding: 0.15rem 1rem;
}
.footer-send-btn {
  background: #173641;
  border: none;
  border-radius: 50%;
  width: 3rem;
  color: #fff;
  padding: 0.65rem 0.85rem !important;
  outline: none;
}
.footer-input:focus{
  border: none;
  outline: none;
}
.footer-side-2 {
  width: 25%;
  padding: 1rem;
}
.footer-list-item {
  color: #fff;
  list-style-type: none;
  padding: 0.5rem 0rem;
}
ul {
  padding: 0rem;
}
.footer-side-3 {
  width: 25%;
  padding: 1rem;
}
.copyright-text {
  text-align: center;
}
.footer-subhead-3{
  color: #718284;
}
@media only screen and (max-width: 700px) {
  .footer-box {
    flex-direction: column;
  }
  .footer-side-1 {
    width: 100%;
    padding: 0%;
  }
  .footer-side-2 {
    width: 100%;
    padding: 0%;
  }
  .footer-side-3 {
    width: 100%;
    padding: 0%;
  }
  .footer-right{
    display: flex;
    flex-direction: row;
  }
  
}
